* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}

#world-container {
  height: 500px;
  width: 500px;
  position: relative;
}

#world-loader {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-color: white;
  z-index: 10;
}

#world {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
}